POSTGRES_DB=picpay
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_GENERATOR_SIGNATURE_SECRET=secretJWTGenerator
APP_JWT_ISSUER=PICPAY-CHALLENGE
CLIENT_TRANSFER_VALIDATOR=https://run.mocky.io/v3/8fafdd68-a090-496f-8c9a-3442cf30dae6
CLIENT_NOTIFY_SENDER=http://o4d9z.mocklab.io/notify
